<%= form_with(model: project , html: { class: "project form" }) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= form.text_field :name, class: "form__input", placeholder: "Enter project name" %>
  </div>

  <div class="fields" style="flex-direction: column;" data-controller="nested-form">
    <%= form.fields_for :users do |f| %>
      <div class="nested_user_fields" data-nested-form-target="container">
        <h3>User Fields</h3>
        <div class="nested_fields">
          <%= render partial: 'nested_fields', locals: { uf: f } %>
          <%= link_to '#', data: { controller: 'modal', action: 'click->nested-form#removeField' } do %>
            <i class="fa-solid fa-trash-can btn" style="color: #ff1900;"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= button_to "Add user", '#', class: 'btn btn--primary', style: 'width: 100px; flex: start;', data: { action: 'nested-form#addField' } %> 
  </div>
  <%= form.submit "Save", class: "btn btn--secondary", style: 'width: 100px' %>
<% end %>
